$color-primary-blue: #63b9d3b3;
$color-primary-green: #405e1db3;

$color-primary-orange-light: rgb(223, 170, 151);
$color-primary-orange-dark: orangered;

$color-primary-blue-light: rgb(168, 168, 206);
$color-primary-blue-dark: rgb(71, 71, 199);

$color-white: #fff;
$color-black: #000;

$color-text-gray: #777;
$color-text-gray-2: #999;
$color-dark-gray-1: #333;
$color-light-gray-1: #f7f7f7;
$color-light-gray-2: #eee;
