.navigation {
  position: relative;

  &__check {
    display: none;
  }

  &__label {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $color-white;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1500;

    @include respond(tablet-portrait) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(tablet-portrait) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__icon {
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
  }

  &__icon,
  &__icon::before,
  &__icon::after {
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2px;
    background-color: $color-primary-green;
    transition: all 0.3s;
  }

  &__icon::before {
    position: absolute;
    top: -0.6rem;
    transform-origin: top left;
  }

  &__icon::after {
    position: absolute;
    top: 0.6rem;
    transform-origin: bottom left;
  }

  &__background {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-image: radial-gradient($color-primary-green-dark, $color-white);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 500;
    transition: transform 0.6s;

    @include respond(tablet-portrait) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(tablet-portrait) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    display: block;
    text-align: center;
    width: 0;
    opacity: 0;
    font-size: 3rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__list {
    list-style: none;
    position: absolute;
    top: 15rem;
    left: 0;
    opacity: 0;
    transition: all 0.4s;
  }

  &__item {
    color: $color-white;
    padding: 1rem;
    background-image: linear-gradient(
      120deg,
      transparent 50%,
      $color-white 50%
    );
    background-size: 225%;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);

    &:hover {
      background-position: 100%;
      color: $color-primary-green;
      transform: translateX(-3px);
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__check:checked ~ &__background {
    transform: scale(80);
  }

  &__check:checked ~ &__nav &__list {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &__check:checked ~ &__nav {
    width: 100%;
    height: 100vh;
    opacity: 100%;
  }

  &__check:checked ~ &__label &__icon {
    background-color: transparent;
  }

  &__check:checked ~ &__label &__icon::before {
    transform: rotate(45deg);
    left: 0.5rem;
  }

  &__check:checked ~ &__label &__icon::after {
    transform: rotate(-45deg);
    left: 0.5rem;
  }

  &__check:not(:checked) ~ &__label:hover &__icon::before {
    top: -0.8rem;
  }

  &__check:not(:checked) ~ &__label:hover &__icon::after {
    top: 0.8rem;
  }
}
