.book {
  height: 50rem;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 50%,
      rgba($color-white, 0.8) 0,
      transparent 40%
    ),
    url(../../img/beach2.jpg);
  background-size: cover;
  opacity: 0.8;
  padding: 5rem 2.5rem;
  border-radius: 4px;

  @include respond(tablet-portrait) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 60%,
        rgba($color-white, 0.8) 0,
        transparent 40%
      ),
      url(../../img/beach2.jpg);
  }

  @include respond(phone) {
    width: 90%;
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.8) 100%,
        rgba($color-white, 0.8) 0
      ),
      url(../../img/beach2.jpg);
  }
}
