.card {
  position: relative;
  height: 50rem;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 2s ease;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  border-radius: 4px;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;

    &--front {
      .picture {
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
          background-image: linear-gradient(
              to bottom right,
              rgba($color-primary-orange-light, 0.8),
              rgba($color-primary-orange-dark, 0.8)
            ),
            url(../../img/hotel-small.jpg);

          @include retina-display {
            background-image: linear-gradient(
                to bottom right,
                rgba($color-primary-orange-light, 0.8),
                rgba($color-primary-orange-dark, 0.8)
              ),
              url(../../img/hotel.jpg);
          }
        }

        &--2 {
          background-image: linear-gradient(
              to bottom right,
              rgba($color-primary-green, 0.8),
              rgba($color-primary-blue, 0.8)
            ),
            url(../../img/water-sport-small.jpg);

          @include retina-display {
            background-image: linear-gradient(
                to bottom right,
                rgba($color-primary-green, 0.8),
                rgba($color-primary-blue, 0.8)
              ),
              url(../../img/water-sport.jpg);
          }
        }

        &--3 {
          background-image: linear-gradient(
              to bottom right,
              rgba($color-primary-blue-light, 0.8),
              rgba($color-primary-blue-dark, 0.8)
            ),
            url(../../img/adventures-small.jpg);

          @include retina-display {
            background-image: linear-gradient(
                to bottom right,
                rgba($color-primary-blue-light, 0.8),
                rgba($color-primary-blue-dark, 0.8)
              ),
              url(../../img/adventures.jpg);
          }
        }
      }

      .heading {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 1rem;
        display: inline;
        text-align: right;
        box-decoration-break: clone;

        &--1 {
          background-image: linear-gradient(
            to right,
            rgba($color-primary-orange-light, 0.8),
            rgba($color-primary-orange-dark, 0.8)
          );
        }

        &--2 {
          background-image: linear-gradient(
            to right,
            rgba($color-primary-green, 0.8),
            rgba($color-primary-blue, 0.8)
          );
        }

        &--3 {
          background-image: linear-gradient(
            to right,
            rgba($color-primary-blue-light, 0.8),
            rgba($color-primary-blue-dark, 0.8)
          );
        }
      }

      .details {
        list-style: none;

        li {
          font-size: 1.5rem;
          font-weight: 300;
          padding: 1rem;
          color: $color-text-gray;
          width: 80%;
          text-align: center;
          margin: 0 auto;

          &:not(:last-child) {
            border-bottom: 1px solid $color-light-gray-2;
          }
        }
      }
    }

    &--back {
      padding: 10rem 2rem;
      color: $color-white;
      text-transform: uppercase;
      transform: rotateY(180deg);

      .subscription {
        font-size: 1rem;
        font-weight: 700;
      }

      .price {
        font-size: 6rem;
        font-weight: 200;
        margin-bottom: 4rem;
      }

      &-1 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-orange-light,
          $color-primary-orange-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-green,
          $color-primary-blue
        );
      }

      &-3 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-blue-light,
          $color-primary-blue-dark
        );
      }
    }
  }

  &:hover {
    transform: rotateY(180deg);
  }

  @include respond(tablet-portrait) {
    position: relative;
    height: auto;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    border-radius: 4px;
    overflow: hidden;

    &__content {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 0;
      backface-visibility: visible;

      &--back {
        padding: 7rem 2rem 2rem 2rem;
        color: $color-white;
        text-transform: uppercase;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

        .subscription {
          font-size: 1rem;
          font-weight: 700;
        }

        .price {
          font-size: 4rem;
          font-weight: 200;
          margin-bottom: 2rem;
        }

        &-1 {
          transform: rotateY(0);
          background-image: linear-gradient(
            to bottom right,
            $color-primary-orange-light,
            $color-primary-orange-dark
          );
        }

        &-2 {
          transform: rotateY(0);
          background-image: linear-gradient(
            to bottom right,
            $color-primary-green,
            $color-primary-blue
          );
        }

        &-3 {
          transform: rotateY(0);
          background-image: linear-gradient(
            to bottom right,
            $color-primary-blue-light,
            $color-primary-blue-dark
          );
        }
      }
    }

    &:hover {
      transform: rotateY(0);
    }
  }
}
