.composition {
  position: relative;

  @include respond(tablet-portrait) {
    min-height: 40vh;
  }

  &__photo {
    position: absolute;
    width: 55%;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 15%;
      top: 10rem;
    }

    &:hover {
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
      z-index: 10;
      outline: 1rem solid $color-primary-blue;
      outline-offset: 2rem;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
