.section-about {
  background-color: $color-light-gray-1;
  padding: 30rem 0;
  margin-top: -15vh;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 75%;
    margin: auto;
    column-gap: 1rem;
    .col-1-of-2 {
      padding: 1rem;
    }
  }
}

.section-features {
  padding: 20rem 0;
  transform: skewY(-7deg);
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary-green, 0.8),
      rgba($color-primary-blue, 0.8)
    ),
    url(../../img/water-sport.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -9rem;

  &__grid {
    display: grid;
    max-width: 75%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 30rem 0 15rem 0;
  background-color: $color-light-gray-1;
  margin-top: -10rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    max-width: 75%;
    margin: auto;
  }
}

.section-stories {
  padding: 10rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-green, 0.8),
    rgba($color-primary-blue, 0.8)
  );
}
